form(name='downloadForm', ng-submit='process()', novalidate)
	.form-group
		input.form-control(type='password', ng-model='password', required, minLength='8', placeholder='Password')
	.form-group
		button.btn.btn-success(type='submit', ng-disabled='!downloadForm.$valid') Download and decrypt

	.form-group(ng-if='downloadForm.$submitted')
		.row
			span.col-xs-6.col-sm-4.col-md-3 Download #[br] ({{status.downloadStreamProgress.speed / 1024 | number: 0}} kB/s)
			.col-xs-6.col-sm-8.col-md-9
				progress.progress.progress-danger(ng-bind='(status.downloadStreamProgress.percentage | number: 0) + " %"', ng-value='status.downloadStreamProgress.percentage / 100', max='1')
		.row
			span.col-xs-6.col-sm-4.col-md-3 Decryption #[br] ({{status.downloadStreamProgress.speed / 1024 | number: 0}} kB/s)
			.col-xs-6.col-sm-8.col-md-9
				progress.progress.progress-primary(ng-bind='(status.downloadStreamProgress.percentage | number: 0) + " %"', ng-value='status.downloadStreamProgress.percentage / 100', max='1')
		.row
			span.col-xs-6.col-sm-4.col-md-3 Overall
			.col-xs-6.col-sm-8.col-md-9
				progress.progress.progress-success(ng-bind='(status.downloadStreamProgress.percentage | number: 0) + " %"', ng-value='status.downloadStreamProgress.percentage / 100', max='1')

	.form-group(ng-if='downloadedFile')
		a.btn.btn-success(ng-href='{{downloadedFile}}', download='cryptbucket.file') Save

