form(name='form', ng-submit='process()', novalidate)
	.form-group(ng-class='{"has-success": form.password.$touched && form.password.$valid, "has-danger": form.password.$dirty && form.password.$invalid}')
		input.form-control(type='password', name='password', ng-model='password', required, minLength='8', placeholder='Password', ng-change='form.password.$setValidity("correct", true)')
		div(ng-if='form.password.$touched')
			p.text-help.text-muted(ng-if='form.password.$error.required') Please choose a password
			p.text-help.text-muted(ng-if='form.password.$error.minlength') Minimum length: 8 characters
			p.text-help.text-muted(ng-if='form.password.$error.correct') The password you entered is not correct
			p.text-help.text-muted(ng-if='form.password.$error.undeleted') The file was auto-deleted {{autoDeleteDays | number: 0}} days after upload
	.form-group
		button.btn.btn-success(type='submit', ng-disabled='!form.$valid || form.$submitted', ng-bind='!form.$valid ? "Please enter the password" : (!form.$submitted ? "Download end decrypt" : (!downloadedFile ? "Downloading and decrypting" : "Download and decryption successful"))')

	.form-group(ng-if='form.$submitted')
		.row
			span.col-xs-6.col-sm-4.col-md-3 Download #[br] ({{status.downloadStreamProgress.speed / 1024 | number: 0}} kB/s)
			.col-xs-6.col-sm-8.col-md-9
				progress.progress.progress-primary(ng-bind='(status.downloadStreamProgress.percentage | number: 0) + " %"', ng-value='status.downloadStreamProgress.percentage / 100', max='1')
		.row
			span.col-xs-6.col-sm-4.col-md-3 Decryption #[br] ({{status.downloadStreamProgress.speed / 1024 | number: 0}} kB/s)
			.col-xs-6.col-sm-8.col-md-9
				progress.progress.progress-danger(ng-bind='(status.downloadStreamProgress.percentage | number: 0) + " %"', ng-value='status.downloadStreamProgress.percentage / 100', max='1')
		.row
			span.col-xs-6.col-sm-4.col-md-3 Overall
			.col-xs-6.col-sm-8.col-md-9
				progress.progress.progress-success(ng-bind='(status.downloadStreamProgress.percentage | number: 0) + " %"', ng-value='status.downloadStreamProgress.percentage / 100', max='1')

	.form-group(ng-if='downloadedFile')
		a.btn.btn-success(ng-href='{{downloadedFile.url}}', download='{{downloadedFile.name}}') #[i.fa.fa-save.fa-fw] Save file

