form(ng-submit='process()', novalidate)
	.form-group
		div.form-control(ngf-select='', ngf-drop='', ng-model='file', required, ngf-model-invalid="invalidFiles", ngf-multiple="false", ngf-keep="false", ngf-max-files='1', ngf-change='selectFiles($files, $file, $newFiles, $duplicateFiles, $invalidFiles, $event)', ngf-max-size='{{validation.size.max}}', ngf-max-total-size='{{validation.size.maxTotal}}', ngf-validate-async-fn='validate($files)')
			.card-title Select or drop file here
			p.card-text(ng-repeat='file in files', ng-bind='file.name + " (" + file.size + " bytes)"')
	.form-group
		input.form-control(type='password', ng-model='password', required, minLength='8', placeholder='Password')
	.form-group
		button.btn.btn-primary(type='submit') Encrypt to console
	.form-group
		progress.progress.progress-success(ng-bind='(status.cipherStreamProgress.percentage | number: 0) + " %"', ng-value='status.cipherStreamProgress.percentage / 100', max='1')
		progress.progress.progress-success(ng-bind='(status.s3StreamProgress.percentage | number: 0) + " %"', ng-value='status.s3StreamProgress.percentage / 100', max='1')
	p
		samp(ng-bind="'Progress: ' + (status.cipherStreamProgress.percentage | number: 0) + ' %'")
		br
		samp(ng-repeat-start='message in status.messages', ng-bind='message.text')
		br(ng-repeat-end)
