div(ngf-select='', ngf-drop='', ngf-change='selectFile($files, $file, $newFiles, $duplicateFiles, $invalidFiles, $event)', ng-model='file') Select
pre {{file.name}}
button.btn.btn-primary(type='submit', ng-click='upload()') Send
