extends layout

block meta
	title About Cryptbucket

block header
	include header

block main
	.jumbotron.jumbotron-fluid.bg-white
		.container
			h2 About
			p: address Struwe Internetmarketing #[br] Delmenhorster Str. 28 #[br] 28197 Bremen #[br] Germany #[br] #[a(href='mailto:estruwe@estruwe.de') estruwe@estruwe.de]
