.jumbotron.jumbotron-fluid.bg-primary
	.container.text-xs-center
		h1.display-4 Welcome to Cryptbucket
		p.lead Upload your files to our free, end-to-end encrypted, open-source file transfer service
		p: a.btn.btn-lg.btn-secondary(href='/#try', du-smooth-scroll) Try now
		p: a(href='/#learn', du-smooth-scroll).text-white Learn more
