extends layout

block main
	.jumbotron.jumbotron-fluid
		.container
			h1.display-4 Welcome to Cryptbucket
			p.lead Upload your files to our end-to-end encrypted, open-source filehosting service

	// hero shot

	.container
		p
			form(upload-form)

	.container
		.row
			.col-xs-12
				h2 Benefits
				.row
					each feature, index in [{title: 'End-to-end encryption', subtitle: 'Protect your data from hackers, intelligence, and even from ourselves', icon: 'lock', color: 'danger', text: 'You and the persons you share the password with are the only ones able to recover your decrypted data, even though it is physically stored at our partner Amazon\'s data centers. That\'s because your files are encrypted by your browser <i>before</i> being sent. Your password is never sent anywhere.'}, {title: 'Open source code', subtitle: 'Review our code and decide to trust our technology', icon: 'file-code-o', color: 'success', text: 'The full source code is publicly available at our <a href="https://github.com/erkstruwe/cryptbucket" target="_blank">Github</a> repository. Feel free to check it out and see for yourself that we keep our security promises.'}]
						.col-md-6
							.card
								.card-block
									h4.card-title= feature.title
									h6.card-subtitle.text-muted= feature.subtitle
								.card-block
									p.card-text.text-xs-center
										span.fa.fa-4x(class='fa-' + feature.icon + ' text-' + feature.color)
								.card-block
									p.card-text !{feature.text}
						if index % 2 == 1
							.clearfix

		// context of use
		// trust elements
