doctype html
html(lang='en')
	head
		block meta
			title Cryptbucket &ndash; Free, end-to-end encrypted, open-source file transfer service
			meta(name='description', content='Transfer large files for free with our secure file hosting platform')

		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width,initial-scale=1,shrink-to-fit=no')
		meta(http-equiv='x-ua-compatible', content='ie=edge')
		link(rel='stylesheet', href=config.baseUrlStatic + '/styles.css')

	body(ng-app='cryptbucket', ng-strict-di)
		nav.navbar
			button.navbar-toggler.hidden-sm-up(type='button', data-toggle='collapse', data-target='#navbarCollapse') &#9776;
			div#navbarCollapse.collapse.navbar-toggleable-xs
				a(href='/').navbar-brand Cryptbucket
				ul.nav.navbar-nav
					li.nav-item
						a.nav-link(href='/') Try now
					li.nav-item
						a.nav-link(href='/how-it-works') How it works
					li.nav-item
						a.nav-link(href='/faq') FAQ
					li.nav-item
						a.nav-link(href='https://github.com/erkstruwe/cryptbucket', target='_blank', rel='nofollow') Source code
					li.nav-item
						a.nav-link(href='/about') About

		header
			block header

		main
			block main

		footer
			.jumbotron.jumbotron-fluid
				p.text-xs-center &copy; 2016

		script(src=config.baseUrlStatic + '/app.js')
		script angular.module('config', []).constant('CONFIG', JSON.parse('!{JSON.stringify(configFrontend)}'));
		if (config.environment == 'development')
			script document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1" async></' + 'script>');
